	
body{
  background-color: #212529;
  color: #899095;
}
 
a {
  color: #dee2e6;
}
 
a:hover {
  color: #3cc368;
}


.input-group{
        box-shadow: -2px 0px 13px -7px #3cc368;
        padding-bottom: 1rem;
}
.list-group{
    box-shadow: -2px 8px 13px -7px  #5e35b1;
}
    .list-group-item .btn{
        opacity: .4;
        transition: opacity .5s;
        font-size: .8rem;
    }
    .list-group-item:hover .btn{
        opacity: 1;
    }

    .list-group-item.done{
        background-color: #dadada;
    }
    .list-group-item.done span{
        text-decoration: line-through;

    }